<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="C:\Users\vinay\Desktop\test\myapp\public\images\test24.png" />
            </div>
            <div class="col-sm-4">
                <h1>PSD Extractor</h1>
            </div>
        </div>
</header>
<section>
    <div class="container">
    <form action="/uploadfile" enctype="multipart/form-data" method="POST">
        <input type="file" name="myFile" />
        <input type="submit" value="Upload a file" />
    </form>
    <form action="/download">
    <input type="submit" value="Convert PSD to PNG" />
    </form>
    </div>
    </section>